.navbar {
  background-color: $primary-50;
  padding: 0 1rem;
  &__list {
    height: 8.5rem;
    display: grid;

    align-items: center;
    list-style: none;
    &-home {
      grid-template-columns: 1fr minmax(400px, 3fr) 1fr;
    }
    &-details {
      grid-template-columns: 1fr 4fr 0.5fr 0.5fr;
    }
  }
  &__item {
    position: relative;
    font-size: 2.5rem;
    color: $ligth;
    &-link {
      text-decoration: none;
      &:visited {
        color: unset;
      }
    }
  }
  &__item-home {
    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &:nth-child(3) {
      position: relative;
      justify-self: end;
      &::after {
        content: attr(total-products);
        position: absolute;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 16px;
        background-color: red;
        border-radius: 50%;
        color: $ligth;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -10%;
        top: -20%;
      }
    }
    &:nth-child(4) {
      background-color: unset;
      border: none;
      color: $ligth;
      grid-column: 1/2;
      grid-row: 1/2;
      display: none;
    }
  }
  &__item-details {
    &:nth-child(1) {
      grid-column: -2/-1;
    }
    &:nth-child(2) {
      grid-row: 1/2;
    }
    &:nth-child(3) {
      grid-row: 1/2;
    }
    &:nth-child(4) {
      grid-area: 1 / 1 / 2 / 2;
      background-color: unset;
      color: $ligth;
      border: none;
    }
  }
  &__icon {
    height: 3.5rem;
    width: 3.5rem;
    border: 3px solid $ligth;
    border-radius: 50%;
    background-color: $ligth;
    color: $primary-50;
    cursor: pointer;
    transition: 0.3s ease all;
    &:hover {
      background-color: $primary-50;
      color: $ligth;
    }

    &-item {
      font-size: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__logo {
    max-width: 20rem;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 5px;
  }
}
