$primary-50: #0a1b26;
$primary-25: #0466cc;
$primary-10: #08428c;
$secundary-10: #d0cabc;
$secundary-20: #757575;
$danger-10: #f52828;
$danger-50: #ad0000;

$ligth: #ffffff;
$dark: #000000;
$background: #e5e5e5;
